<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{891,560}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{891,560}}</string>
                <key>sourceSize</key>
                <string>{891,566}</string>
            </dict>
            <key>bg_activity_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{536,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,442}}</string>
                <key>sourceSize</key>
                <string>{536,442}</string>
            </dict>
            <key>icon_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,884},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,884},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>item_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,564},{295,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,90}}</string>
                <key>sourceSize</key>
                <string>{295,90}</string>
            </dict>
            <key>item_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,564},{318,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,94}}</string>
                <key>sourceSize</key>
                <string>{318,94}</string>
            </dict>
            <key>tab_activity1_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,564},{440,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,94}}</string>
                <key>sourceSize</key>
                <string>{440,94}</string>
            </dict>
            <key>tab_activity1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,564},{440,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,94}}</string>
                <key>sourceSize</key>
                <string>{440,94}</string>
            </dict>
            <key>tab_activity2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,455},{451,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,94}}</string>
                <key>sourceSize</key>
                <string>{451,94}</string>
            </dict>
            <key>tab_activity2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{451,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,94}}</string>
                <key>sourceSize</key>
                <string>{451,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{1016,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db17bbb1f8c508f9d91b37d9125550c$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
