<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,83},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>icon_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>icon_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,164},{82,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{82,69}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>item_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1121,104}}</string>
                <key>sourceSize</key>
                <string>{1123,104}</string>
            </dict>
            <key>tab_rank1_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,111},{579,107}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,107}}</string>
                <key>sourceSize</key>
                <string>{579,127}</string>
            </dict>
            <key>tab_rank1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,108},{579,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,127}}</string>
                <key>sourceSize</key>
                <string>{579,127}</string>
            </dict>
            <key>tab_rank2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{581,107}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,107}}</string>
                <key>sourceSize</key>
                <string>{581,127}</string>
            </dict>
            <key>tab_rank2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{581,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,127}}</string>
                <key>sourceSize</key>
                <string>{581,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1841,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f74e2d2963d4c350e41cf1166ca350$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
