<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_getreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,373},{231,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,93}}</string>
                <key>sourceSize</key>
                <string>{231,93}</string>
            </dict>
            <key>btn_getreward_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,373},{230,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,94}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>btn_gofinish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{231,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,93}}</string>
                <key>sourceSize</key>
                <string>{231,93}</string>
            </dict>
            <key>icon_task_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,373},{132,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{132,114}</string>
            </dict>
            <key>item_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1143,133}}</string>
                <key>sourceSize</key>
                <string>{1143,133}</string>
            </dict>
            <key>tab_task1_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,265},{579,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,106}}</string>
                <key>sourceSize</key>
                <string>{579,128}</string>
            </dict>
            <key>tab_task1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,137},{579,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,126}}</string>
                <key>sourceSize</key>
                <string>{579,128}</string>
            </dict>
            <key>tab_task2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{581,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,106}}</string>
                <key>sourceSize</key>
                <string>{581,128}</string>
            </dict>
            <key>tab_task2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{581,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,126}}</string>
                <key>sourceSize</key>
                <string>{581,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{1166,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:023fe3e01ac34dc0c6d65b89180f0f95$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
