<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>expression_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,667},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>expression_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,576},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>expression_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1132},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>expression_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1043},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>expression_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,481},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>expression_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,386},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>expression_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,99},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>expression_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1207},{91,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>expression_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,291},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,196},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,952},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>expression_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,859},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>expression_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>expression_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>expression_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>expression_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>expression_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>expression_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{99,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,85}}</string>
                <key>sourceSize</key>
                <string>{99,85}</string>
            </dict>
            <key>expression_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,764},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>expression_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression.png</string>
            <key>size</key>
            <string>{204,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dc3aa7744a29ff2da06f15ad7cd3ef$</string>
            <key>textureFileName</key>
            <string>expression.png</string>
        </dict>
    </dict>
</plist>
