<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_chat_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1142},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bg_addfriend_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{329,236}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{329,236}}</string>
                <key>sourceSize</key>
                <string>{337,240}</string>
            </dict>
            <key>bg_chat_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1380},{105,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>bg_face_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{1010,308}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{1010,308}}</string>
                <key>sourceSize</key>
                <string>{1028,314}</string>
            </dict>
            <key>bg_friend_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1125,511}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,511}}</string>
                <key>sourceSize</key>
                <string>{1127,511}</string>
            </dict>
            <key>bg_recommend_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1142},{329,236}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{329,236}}</string>
                <key>sourceSize</key>
                <string>{333,240}</string>
            </dict>
            <key>btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1583},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1793},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>btn_chatface.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1564},{98,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>btn_confirm_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1665},{234,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,97}}</string>
                <key>sourceSize</key>
                <string>{234,97}</string>
            </dict>
            <key>btn_delfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1665},{234,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,97}}</string>
                <key>sourceSize</key>
                <string>{234,97}</string>
            </dict>
            <key>btn_friend_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1739},{151,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,105}}</string>
                <key>sourceSize</key>
                <string>{151,107}</string>
            </dict>
            <key>btn_friend_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1487},{94,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>btn_reject.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1483},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1665},{233,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{233,105}}</string>
                <key>sourceSize</key>
                <string>{235,111}</string>
            </dict>
            <key>friend_recommend_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1380},{293,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,67}}</string>
                <key>sourceSize</key>
                <string>{293,67}</string>
            </dict>
            <key>friend_search_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{463,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{463,60}}</string>
                <key>sourceSize</key>
                <string>{467,64}</string>
            </dict>
            <key>icon_friend_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1664},{73,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,58}}</string>
                <key>sourceSize</key>
                <string>{73,58}</string>
            </dict>
            <key>icon_friend_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1664},{73,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,58}}</string>
                <key>sourceSize</key>
                <string>{73,58}</string>
            </dict>
            <key>tab_addfriend_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1557},{289,106}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,106}}</string>
                <key>sourceSize</key>
                <string>{289,126}</string>
            </dict>
            <key>tab_addfriend_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{289,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,126}}</string>
                <key>sourceSize</key>
                <string>{289,126}</string>
            </dict>
            <key>tab_blacklist_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1793},{288,106}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,106}}</string>
                <key>sourceSize</key>
                <string>{288,126}</string>
            </dict>
            <key>tab_blacklist_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1665},{288,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,126}}</string>
                <key>sourceSize</key>
                <string>{288,126}</string>
            </dict>
            <key>tab_myfriend_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{293,106}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,106}}</string>
                <key>sourceSize</key>
                <string>{293,126}</string>
            </dict>
            <key>tab_myfriend_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1014},{293,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,126}}</string>
                <key>sourceSize</key>
                <string>{293,126}</string>
            </dict>
            <key>tab_recommend_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1449},{290,106}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,106}}</string>
                <key>sourceSize</key>
                <string>{290,126}</string>
            </dict>
            <key>tab_recommend_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1191},{290,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,126}}</string>
                <key>sourceSize</key>
                <string>{290,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{825,1901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba687da5b6f026250a37be73dd67aec$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
