<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,886},{112,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,886},{112,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,869},{112,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,869},{112,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_quick_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,208},{197,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,204}}</string>
                <key>sourceSize</key>
                <string>{197,206}</string>
            </dict>
            <key>btn_quick_game_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{197,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,204}}</string>
                <key>sourceSize</key>
                <string>{197,206}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,886},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,854},{97,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>btn_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{376,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{376,446}}</string>
                <key>sourceSize</key>
                <string>{386,446}</string>
            </dict>
            <key>btn_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,438},{383,429}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{383,429}}</string>
                <key>sourceSize</key>
                <string>{391,431}</string>
            </dict>
            <key>btn_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{391,423}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{391,423}}</string>
                <key>sourceSize</key>
                <string>{395,423}</string>
            </dict>
            <key>btn_room4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,434}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{396,434}}</string>
                <key>sourceSize</key>
                <string>{398,436}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,744},{108,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,754},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>btn_speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,869},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>btn_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,754},{102,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>coin_value_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{292,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,50}}</string>
                <key>sourceSize</key>
                <string>{294,50}</string>
            </dict>
            <key>flash_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,296},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>flash_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,914},{62,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,854},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,675},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>icon_speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,961},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>quick_game_eff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,584},{169,168}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{169,168}}</string>
                <key>sourceSize</key>
                <string>{197,206}</string>
            </dict>
            <key>quick_game_eff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,414},{169,168}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{169,168}}</string>
                <key>sourceSize</key>
                <string>{197,206}</string>
            </dict>
            <key>shine_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,832},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>shine_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,914},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>speaker_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{740,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,43}}</string>
                <key>sourceSize</key>
                <string>{740,43}</string>
            </dict>
            <key>stencil_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,358},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>stencil_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,914},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>user_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,414},{259,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,83}}</string>
                <key>sourceSize</key>
                <string>{259,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1094,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ceebf3d36a3dad3255ae7f5ccd0d03$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
