<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_logout_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,706},{250,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,94}}</string>
                <key>sourceSize</key>
                <string>{252,94}</string>
            </dict>
            <key>btn_logout_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,706},{250,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{250,90}}</string>
                <key>sourceSize</key>
                <string>{252,94}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1003,646}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1003,646}}</string>
                <key>sourceSize</key>
                <string>{1003,650}</string>
            </dict>
            <key>setting_slide_thumbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{129,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,82}}</string>
                <key>sourceSize</key>
                <string>{129,82}</string>
            </dict>
            <key>setting_slider_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,650},{503,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{503,54}}</string>
                <key>sourceSize</key>
                <string>{509,62}</string>
            </dict>
            <key>setting_slider_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{505,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{505,62}}</string>
                <key>sourceSize</key>
                <string>{509,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1014,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9c1bb59b544813c1e0b94230f61b33$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
