<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,414},{32,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>label_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1563},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>shop_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,123}}</string>
                <key>sourceSize</key>
                <string>{1280,123}</string>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{263,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,449}}</string>
                <key>sourceSize</key>
                <string>{263,449}</string>
            </dict>
            <key>shop_item_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1307},{208,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,78}}</string>
                <key>sourceSize</key>
                <string>{208,78}</string>
            </dict>
            <key>shop_item_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1517},{145,84}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{145,84}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1015},{99,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{99,108}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,281},{131,108}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,48},{131,108}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,614},{159,116}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{159,116}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,856},{157,150}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{157,150}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_coin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1643},{167,152}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{167,152}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1664},{143,116}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{143,116}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,732},{175,122}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{175,122}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,453},{159,162}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{159,162}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{177,174}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,174}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,655},{191,200}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{191,200}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_item_diamond6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,453},{215,200}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,200}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>shop_radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1015},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>shop_radio_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{28,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{28,27}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>shop_value_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1248},{282,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,57}}</string>
                <key>sourceSize</key>
                <string>{282,57}</string>
            </dict>
            <key>tab_shop1_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1531},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1419},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1307},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1136},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop3_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,857},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop3_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,857},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop4_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
            <key>tab_shop4_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{277,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,110}}</string>
                <key>sourceSize</key>
                <string>{277,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{508,1819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e89696e5b707306998e6b5d2035ed761$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
