<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_speaker_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{915,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{915,590}}</string>
                <key>sourceSize</key>
                <string>{919,594}</string>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,594},{201,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,91}}</string>
                <key>sourceSize</key>
                <string>{201,91}</string>
            </dict>
            <key>editbox_speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{523,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{523,67}}</string>
                <key>sourceSize</key>
                <string>{525,67}</string>
            </dict>
            <key>icon_speaker_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,594},{83,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>item_speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{842,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,82}}</string>
                <key>sourceSize</key>
                <string>{842,82}</string>
            </dict>
            <key>tab_systemchat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,793},{440,84}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,84}}</string>
                <key>sourceSize</key>
                <string>{440,106}</string>
            </dict>
            <key>tab_systemchat_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,687},{440,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,104}}</string>
                <key>sourceSize</key>
                <string>{440,106}</string>
            </dict>
            <key>tab_worldchat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{452,84}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,84}}</string>
                <key>sourceSize</key>
                <string>{452,106}</string>
            </dict>
            <key>tab_worldchat_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{452,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,104}}</string>
                <key>sourceSize</key>
                <string>{452,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>speaker.png</string>
            <key>size</key>
            <string>{1003,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e092a5a2b38ee332d4e496201bc3df3$</string>
            <key>textureFileName</key>
            <string>speaker.png</string>
        </dict>
    </dict>
</plist>
