<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_acess.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{1125,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,511}}</string>
                <key>sourceSize</key>
                <string>{1125,511}</string>
            </dict>
            <key>bg_gift_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1125,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,511}}</string>
                <key>sourceSize</key>
                <string>{1125,511}</string>
            </dict>
            <key>btn_store_nornal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,780},{251,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,93}}</string>
                <key>sourceSize</key>
                <string>{251,93}</string>
            </dict>
            <key>btn_store_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,875},{251,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,91}}</string>
                <key>sourceSize</key>
                <string>{251,93}</string>
            </dict>
            <key>btn_takeout_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,641},{251,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,93}}</string>
                <key>sourceSize</key>
                <string>{251,93}</string>
            </dict>
            <key>btn_takeout_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,388},{251,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,93}}</string>
                <key>sourceSize</key>
                <string>{251,93}</string>
            </dict>
            <key>icon_coin_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{311,362}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{311,362}}</string>
                <key>sourceSize</key>
                <string>{345,398}</string>
            </dict>
            <key>item_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,758},{203,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,254}}</string>
                <key>sourceSize</key>
                <string>{203,254}</string>
            </dict>
            <key>tab_acess_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,388},{386,106}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{386,106}}</string>
                <key>sourceSize</key>
                <string>{386,126}</string>
            </dict>
            <key>tab_acess_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,366},{386,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,126}}</string>
                <key>sourceSize</key>
                <string>{386,126}</string>
            </dict>
            <key>tab_giftlog_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,388},{390,106}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{390,106}}</string>
                <key>sourceSize</key>
                <string>{390,126}</string>
            </dict>
            <key>tab_giftlog_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,366},{390,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,126}}</string>
                <key>sourceSize</key>
                <string>{390,126}</string>
            </dict>
            <key>tab_giftware_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{384,108}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,108}}</string>
                <key>sourceSize</key>
                <string>{384,126}</string>
            </dict>
            <key>tab_giftware_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{384,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,126}}</string>
                <key>sourceSize</key>
                <string>{384,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storage.png</string>
            <key>size</key>
            <string>{1699,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3285b72dd49312269254a72196d8756$</string>
            <key>textureFileName</key>
            <string>storage.png</string>
        </dict>
    </dict>
</plist>
