<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{66,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{66,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{66,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{66,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{66,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{66,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{66,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{66,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{66,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{66,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{66,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>coin2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,126},{60,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{60,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{60,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{60,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,858},{60,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,762},{60,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{60,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,896},{60,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{60,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,820},{60,36}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,64},{60,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,700},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,242},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,492},{52,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,644},{52,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{52,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{52,10}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,612},{52,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,398},{52,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,242},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,348},{52,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,538},{52,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,676},{52,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{52,22}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,924},{52,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,578},{52,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,446},{52,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,296},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,188},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{126,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:480d3ef80795136896029c92c254d340$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
