<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,197},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bt_add_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,145},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,93},{118,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{118,117}}</string>
                <key>sourceSize</key>
                <string>{122,137}</string>
            </dict>
            <key>bt_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,93},{98,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{98,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>bt_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,219},{98,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>bt_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,93},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bt_sub_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,270},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bt_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,93},{98,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,249},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>cannon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{481,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,89}}</string>
                <key>sourceSize</key>
                <string>{481,89}</string>
            </dict>
            <key>cannon_mutiple_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,219},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>gun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,207},{70,92}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>gun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,213},{80,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,106}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>lock_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,249},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,145},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,93},{175,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,60}}</string>
                <key>sourceSize</key>
                <string>{175,60}</string>
            </dict>
            <key>wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{322,324}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishgame.png</string>
            <key>size</key>
            <string>{843,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4470230f1d041c64acd9d6d5ffe05868$</string>
            <key>textureFileName</key>
            <string>fishgame.png</string>
        </dict>
    </dict>
</plist>
