<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianman_s/dianman_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{174,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{174,59}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_s/dianman_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,63}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_s/dianman_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{178,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{178,59}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_s/dianman_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,63},{172,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{172,55}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_s/dianman_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,67},{152,51}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{152,51}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_s/dianman_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{112,35}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{112,35}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{160,55}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{160,55}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,63},{176,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{176,57}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{172,53}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{172,53}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,67},{168,51}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{168,51}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{160,55}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{160,55}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,59},{152,57}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,59},{148,57}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{148,57}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{150,55}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{150,55}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,63},{156,57}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{156,57}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,63},{166,57}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{166,57}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{174,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{174,59}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{178,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{178,59}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>dianman_y/dianman_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{178,63}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianman.png</string>
            <key>size</key>
            <string>{1504,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7bcc98d130947d0f5cdb2e61dc35f4$</string>
            <key>textureFileName</key>
            <string>dianman.png</string>
        </dict>
    </dict>
</plist>
