<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diwangxie_s/diwangxie_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,293}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{357,293}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,298},{309,311}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{309,311}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1203},{259,297}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{259,297}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1483},{161,273}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,16},{161,273}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1464},{109,233}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,48},{109,233}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1464},{135,225}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,47},{135,225}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1492},{181,211}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,48},{181,211}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_s/diwangxie_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1492},{171,171}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{171,171}}</string>
                <key>sourceSize</key>
                <string>{365,317}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{356,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{356,292}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,596},{328,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{328,296}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{342,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{342,296}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{352,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{352,294}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{356,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{356,292}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{356,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,292}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{350,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{350,296}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,296},{338,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{338,298}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,894},{322,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{322,300}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,609},{308,296}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{308,296}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,907},{306,294}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{306,294}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{302,294}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{302,294}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
            <key>diwangxie_y/diwangxie_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1196},{312,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{312,294}}</string>
                <key>sourceSize</key>
                <string>{360,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diwangxie.png</string>
            <key>size</key>
            <string>{1023,1699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972b8f0871e9b00b8daf27e27510c475$</string>
            <key>textureFileName</key>
            <string>diwangxie.png</string>
        </dict>
    </dict>
</plist>
