<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heidiaoyu_s/heidiaoyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,812},{93,56}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{101,48}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{101,48}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{111,58}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{111,58}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{113,80}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{107,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{107,70}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{105,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,72}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{95,44}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{95,44}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_s/heidiaoyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,630},{33,14}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{33,14}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{93,56}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{93,56}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{101,50}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{101,50}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{113,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{113,34}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{109,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{109,46}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{97,66}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{97,66}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{97,66}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{97,66}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{109,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{109,52}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{113,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{113,44}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>heidiaoyu_y/heidiaoyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{101,52}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{101,52}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heidiaoyu.png</string>
            <key>size</key>
            <string>{118,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b5202f687ff64cd8beb29c6d39054b$</string>
            <key>textureFileName</key>
            <string>heidiaoyu.png</string>
        </dict>
    </dict>
</plist>
