<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hetun_s/hetun_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{116,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{116,66}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{116,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,68}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{116,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{116,68}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{116,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,70}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{116,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{116,70}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{114,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{114,80}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{112,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{112,86}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_s/hetun_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{112,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hetun_y/hetun_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1349},{114,69}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{114,69}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{120,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,77}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{116,73}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{116,73}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{114,69}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{114,69}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{112,69}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{112,69}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{114,73}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{114,73}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{116,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{120,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,75}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{120,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{120,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>hetun_y/hetun_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{120,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hetun.png</string>
            <key>size</key>
            <string>{124,1671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f42ca79002a1bc81872eb92fff5e146$</string>
            <key>textureFileName</key>
            <string>hetun.png</string>
        </dict>
    </dict>
</plist>
