<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangqiyu_s/huangqiyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,207},{44,35}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{44,35}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,132},{46,33}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{46,33}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{52,33}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,33}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{48,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,37}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,167},{36,23}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{36,23}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{26,17}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{26,17}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,126},{18,15}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{18,15}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_s/huangqiyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,146},{14,13}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{14,13}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{44,38}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,167},{44,38}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{46,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,36}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,34},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{46,32}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{46,32}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,207},{42,34}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,98},{48,32}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,32}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>huangqiyu_y/huangqiyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,64},{52,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,32}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangqiyu.png</string>
            <key>size</key>
            <string>{121,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f1531db81798287f05ae0793cc72194$</string>
            <key>textureFileName</key>
            <string>huangqiyu.png</string>
        </dict>
    </dict>
</plist>
