<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingui_s/jingui_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,574},{266,276}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{266,276}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,606},{264,234}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{264,234}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,606},{258,234}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{258,234}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{274,244}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{274,244}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,572},{260,250}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{260,250}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,278},{236,242}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{236,242}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{208,206}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{208,206}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{174,168}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{174,168}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_s/jingui_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,284},{140,140}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{140,140}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>jingui_y/jingui_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{280,242}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{280,242}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,304},{250,300}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{250,300}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,308}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{268,308}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{280,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{280,300}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{284,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{284,272}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,582},{282,250}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{282,250}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{280,242}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{280,242}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,288},{282,246}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{282,246}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,288},{284,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{284,264}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{280,290}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{280,290}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{270,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{270,304}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,304},{252,300}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{252,300}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,294},{242,286}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{242,286}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,516},{240,278}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{240,278}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>jingui_y/jingui_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{240,284}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{240,284}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingui.png</string>
            <key>size</key>
            <string>{1966,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a799f73df4972a0d060402240b00526e$</string>
            <key>textureFileName</key>
            <string>jingui.png</string>
        </dict>
    </dict>
</plist>
