<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinsha_s/jinsha_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,580},{420,186}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{420,186}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,799},{388,170}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{388,170}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{380,200}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{380,200}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,190},{424,148}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,64},{424,148}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,191},{422,184}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{422,184}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,739},{406,184}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{406,184}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{424,188}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{424,188}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{422,192}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{422,192}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,545},{404,192}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{404,192}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,340},{422,186}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{422,186}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{424,186}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{424,186}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,204},{414,182}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{414,182}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_s/jinsha_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,566},{430,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,43},{430,140}}</string>
                <key>sourceSize</key>
                <string>{450,226}</string>
            </dict>
            <key>jinsha_y/jinsha_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,528},{422,177}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{422,177}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,377},{422,187}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{422,187}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{428,181}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{428,181}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,185},{428,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{428,179}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,366},{422,177}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{422,177}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,620},{416,177}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{416,177}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,204},{414,179}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{414,179}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,528},{420,181}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{420,181}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{426,187}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{426,187}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,189}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{428,189}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{424,191}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{424,191}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,580},{420,191}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{420,191}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
            <key>jinsha_y/jinsha_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,566},{418,191}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{418,191}}</string>
                <key>sourceSize</key>
                <string>{430,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinsha.png</string>
            <key>size</key>
            <string>{2098,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bf69461b61402639989c2f076f6e4c2$</string>
            <key>textureFileName</key>
            <string>jinsha.png</string>
        </dict>
    </dict>
</plist>
