<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meirenyu_s/meirenyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1419},{364,151}}</string>
                <key>offset</key>
                <string>{31,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{364,151}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1419},{362,101}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,43},{362,101}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,206},{306,107}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{306,107}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1309},{258,105}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,33},{258,105}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{202,63}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,66},{202,63}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1163},{138,51}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,76},{138,51}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1330},{360,165}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{360,165}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{404,135}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{404,135}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,758},{430,117}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{430,117}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{396,167}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{396,167}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1014},{400,147}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{400,147}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,877},{426,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{426,135}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{432,173}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{432,173}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_s/meirenyu_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,920},{408,157}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{408,157}}</string>
                <key>sourceSize</key>
                <string>{450,213}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1497},{360,148}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{360,148}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,190},{438,296}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{438,296}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,488},{434,268}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{434,268}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{426,194}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{426,194}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,514},{404,138}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,80},{404,138}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{378,144}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,78},{378,144}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1497},{360,148}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{360,148}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1497},{352,148}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,76},{352,148}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1497},{358,146}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{358,146}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1419},{374,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,81},{374,138}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1163},{394,144}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{394,144}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{460,158}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,69},{460,158}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,168}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{474,168}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{468,186}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{468,186}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
            <key>meirenyu_y/meirenyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{438,262}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{438,262}}</string>
                <key>sourceSize</key>
                <string>{500,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meirenyu.png</string>
            <key>size</key>
            <string>{1018,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf9ffc078d6ac37f4220bd0c500c088$</string>
            <key>textureFileName</key>
            <string>meirenyu.png</string>
        </dict>
    </dict>
</plist>
