<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qie_s/qie_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,104}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{96,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,718},{96,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{96,64}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{96,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{96,78}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{94,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,896},{76,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,29},{76,50}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,502},{60,28}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,41},{60,28}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_s/qie_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,974},{44,34}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{44,34}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>qie_y/qie_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,700},{97,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,27},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,601},{97,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,700},{97,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,27},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,502},{97,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1010},{97,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,911},{97,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,403},{97,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,205},{97,58}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{97,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,911},{97,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_y/qie_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1010},{97,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{97,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,106},{97,60}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{97,60}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,799},{95,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{95,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,911},{95,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{95,58}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{95,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{95,66}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,816},{93,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{93,78}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{89,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{89,92}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{83,102}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{83,102}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{81,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{81,106}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{85,102}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{85,102}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{91,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{91,92}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{95,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{95,78}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,617},{99,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{99,66}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,304},{97,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{97,64}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,310},{101,54}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{101,54}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,300},{99,44}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{99,44}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,204},{93,94}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{93,96}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{93,96}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,401},{97,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,34},{97,44}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,413},{101,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{101,52}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>qie_zs/qie_zs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,516},{99,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{99,66}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qie.png</string>
            <key>size</key>
            <string>{255,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36c2e88d45afefbbfc10870ba0d1f19$</string>
            <key>textureFileName</key>
            <string>qie.png</string>
        </dict>
    </dict>
</plist>
