<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shayu_s/shayu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1572},{400,178}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{400,178}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{392,174}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{392,174}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{406,154}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{406,154}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{404,110}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,75},{404,110}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,410},{368,162}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,39},{368,162}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{360,186}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{360,186}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,780},{376,164}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{376,164}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{404,140}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,62},{404,140}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_s/shayu_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{402,170}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{402,170}}</string>
                <key>sourceSize</key>
                <string>{430,214}</string>
            </dict>
            <key>shayu_y/shayu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{402,168}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{402,168}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{402,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{402,178}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{408,174}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{408,174}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{408,170}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{408,170}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{402,168}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{402,168}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1570},{396,168}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{396,168}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1172},{396,170}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{396,170}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{400,172}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{400,172}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{406,178}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{406,178}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{408,180}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,364},{404,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{404,182}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,770},{400,182}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{400,182}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
            <key>shayu_y/shayu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1172},{398,180}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{398,180}}</string>
                <key>sourceSize</key>
                <string>{410,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shayu.png</string>
            <key>size</key>
            <string>{760,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abcfef8c4ba5521b05f48b3eb2f50f93$</string>
            <key>textureFileName</key>
            <string>shayu.png</string>
        </dict>
    </dict>
</plist>
