<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shibanyu_s/shibanyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,65},{137,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{137,60}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{145,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{129,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{129,74}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{127,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{127,74}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,68},{105,54}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{105,54}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,75},{93,50}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,75},{83,50}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{83,50}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{69,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{69,42}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_s/shibanyu_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,81},{51,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{51,22}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2},{136,61}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{136,61}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{128,71}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{128,71}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{136,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{136,67}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2},{136,61}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{136,61}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,2},{130,61}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,61}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,2},{130,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{130,63}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2},{134,67}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{134,67}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{138,71}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{138,71}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{136,77}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{126,79}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,79}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{120,79}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>shibanyu_y/shibanyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{122,77}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{122,77}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shibanyu.png</string>
            <key>size</key>
            <string>{1923,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e96de6c797474633bfceb436ea9dd007$</string>
            <key>textureFileName</key>
            <string>shibanyu.png</string>
        </dict>
    </dict>
</plist>
