<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochouyu_s/xiaochouyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,100},{73,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{73,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{65,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{65,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,200},{49,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{49,28}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,230},{33,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{33,30}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_s/xiaochouyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,230},{19,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{19,26}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,100},{73,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,52},{73,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,52},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{75,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,100},{73,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{75,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,52},{73,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,44}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{71,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,148},{67,46}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,196},{67,46}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,148},{67,46}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>xiaochouyu_y/xiaochouyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,127},{71,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,46}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaochouyu.png</string>
            <key>size</key>
            <string>{248,283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b89c46860dfc06665b3cc3fd75a99b$</string>
            <key>textureFileName</key>
            <string>xiaochouyu.png</string>
        </dict>
    </dict>
</plist>
