<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueyu_s/xueyu_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{110,61}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{110,61}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{68,33}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,25},{68,33}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,84},{126,39}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{126,39}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{116,59}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{116,59}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{98,69}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{98,69}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{108,61}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{108,61}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{130,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,55}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{122,55}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{110,61}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{110,61}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_s/xueyu_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{92,49}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{92,49}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>xueyu_y/xueyu_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{124,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{124,53}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{124,43}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{124,43}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,57},{128,47}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{128,47}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,72},{128,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{128,49}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{124,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{124,53}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{120,57}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{120,57}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{120,57}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{120,57}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{122,45}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{122,45}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,47},{128,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{128,41}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{130,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,43},{128,39}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{128,39}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,51},{124,45}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{124,45}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>xueyu_y/xueyu_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{124,47}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{124,47}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueyu.png</string>
            <key>size</key>
            <string>{1273,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a629261e6369e985071cd156fc2442f2$</string>
            <key>textureFileName</key>
            <string>xueyu.png</string>
        </dict>
    </dict>
</plist>
